<section>
  <div>
    <form #processForm="ngForm" (ngSubmit)="submitProcessForm(processForm)" id="myform">
    <table id="customers">
      <tr>
        <th>S.No.</th>
        <th>Asset Name</th>
        <th>Compliance</th>
        <th>Remarks</th>
      </tr>
       <tr *ngFor="let remark of remarks">
        <td>{{remark.serialNumber}}</td>
        <td>{{remark.empAssetDetailsId}}</td>
        <td><select name="compliance" ngModel required>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Not applicable">Not applicable</option>
      </select></td>
      <td><textarea name="content" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
      </tr>
      <tr>
        
      </tr>
    </table>
    <br><br>
    <button class="btn btn-success" style="margin-left: 45%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;">save</button>
 </form> 
  </div>

</section>
