<div>
<!-- <table id="customers">
  <tr>
      <th>Process Area</th>
      <th>Process</th>
      <th>Compliance</th>
      <th>Risk Severity</th>
      <th>Remarks</th>
    </tr>
    <tr *ngFor="let empProcessArea of empProcessAreas">
      <td>{{empProcessArea.employeeCertificationTaskId}}</td>
      <td>
        <tr *ngFor="let empProcess of empProcessArea.empProcesses">
          <td>
            {{empProcess.process.name}}
          </td>
          <td>
            {{empProcess.isCompliant}}
          </td>

          <td style="padding: 20px;">
            {{empProcess.severity}}
          </td>

          <td>
            {{empProcess.remarks}}
          </td>
        </tr>
      </td>
    </tr>
  </table>
<br><br>
<hr>
<br><br> -->
<form #processForm="ngForm" (ngSubmit)="submitProcessForm(processForm)" id="myform">
  <table id="customers" style="width: 100%;" >
    <tr style="background-color: coral;">
        <th>Process</th>
        <th>Process Area</th>
        <th>Compliance</th>
        <th>Risk Severity</th>
        <th>Remarks</th>
    </tr>
    <tr>
        <td>Intellectual Property and Engineering Processes</td>
        <td>{{empProcessAreas[0].empProcesses[0].process.name}}</td>
        <td>
         
        <select name="compliance1" ngModel>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Not applicable">Not applicable</option>
        </select>
        </td>
        <td>
          
            <select name="RiskSeverity1" ngModel>
                
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select></td>
        <td>
          <textarea name="remarks1" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
    </tr>
    <tr>
        <td></td>
        <td>{{empProcessAreas[0].empProcesses[1].process.name}}</td>
        <td>
          
            <select name="compliance2" ngModel>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not applicable">Not applicable</option>
            </select>
        </td>
        <td>
         
            <select name="RiskSeverity2" ngModel>
                
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select>
        </td>
        <td><textarea name="remarks2" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
    </tr>
    <tr>
        <td></td>
        <td>{{empProcessAreas[0].empProcesses[2].process.name}}</td>
        <td>
          
            <select name="compliance3" ngModel>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not applicable">Not applicable</option>
            </select>
        </td>
        <td>
          
            <select name="RiskSeverity3" ngModel>
            
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select>
        </td>
        <td><textarea name="remarks3" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
    </tr>
   
   
    <tr>
      <!-- <td>{{certifier.employeeName}}</td> -->
      <!-- <td>{{empProcessAreas[0].employeeCertificationTaskId}}</td> -->
      <td></td>
      <td>{{empProcessAreas[0].empProcesses[3].process.name}}</td>
      <td>
       
      <select name="compliance4" ngModel>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Not applicable">Not applicable</option>
      </select>
      </td>
      <td>
        
          <select name="RiskSeverity4" ngModel>
              
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select></td>
      <td>
        <textarea name="remarks4" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
  </tr>
  <tr>
      <td></td>
      <td>{{empProcessAreas[0].empProcesses[4].process.name}}</td>
      <td>
        
          <select name="compliance5" ngModel>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
              <option value="Not applicable">Not applicable</option>
          </select>
      </td>
      <td>
        
          <select name="RiskSeverity5" ngModel>
              
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
      </td>
      <td><textarea name="remarks5" ngModel rows="4" cols="25" maxlength="1000"></textarea><p style="float: right;"></p></td>
  </tr>
  
</table>
<button class="btn btn-success" style="margin-left: 45%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;">save</button>
</form> 
</div>
