
 <p style="font-size: 100%;"><b>My Certification Tasks</b></p>
  <table style="background-color: rgb(226, 226, 226);">
        <tr *ngIf="empCertTask"><td colspan="2"><b>{{empCertTask.certTask.name}}</b></td></tr>
        <tr colspan="2" *ngIf="certifier"> 
            <td><b>Certifier : {{certifier.employeeName}};({{ empCertTask.employeeId}});{{certifier.role}} </b></td>
            <td><b>Business Unit : {{certifier.businessUnitName}}</b></td>
        </tr>
        <tr  *ngIf="reporter">
            <td><b>Certifying to : {{reporter.nameOfReporter}};{{reporter.reporterRole}}</b></td>
            <td><b>Business Unit : {{reporter.parentBusinessUnitName}}</b></td>
        </tr>
        <tr  *ngIf="empCertTask">
            <td><b>Compliance Period : {{empCertTask.certTask.startDate}} to {{empCertTask.certTask.endDate}}</b></td>
            <td><b>Planned Start Date : {{empCertTask.certTask.plannedStartDate}}</b></td>
            <td><b>Compliance Due Date : {{empCertTask.dueDate}}</b></td>
            <br>
        </tr>
        <tr *ngIf="empCertTask">
            <td colspan="2"><b>Status : {{empCertTask.savedDetails.certificationStatus}}</b></td>
        </tr>
  </table>

<br><br>

  <section>
    <a href="#">View Reporting Certifier Status</a>
  </section>
<br><br>
<b><button class="Process btn btn-primary" (click)="actProcess()" >Process(s)</button></b>
     <b><button class="Remarks btn btn-primary" (click)="actRemarks()" >Remarks</button></b>
    <b><button class="AddDoc btn btn-primary" (click)="actAdditional()"   >Additional Documents</button></b><br><br>
<!-- <app-process *ngIf=proc></app-process>
<app-remarks *ngIf=rem> remarks</app-remarks>
<app-additional-doc *ngIf=addi>additional</app-additional-doc> -->
  <section>
    
    <app-process *ngIf=proc [empProcessAreas]="empCertTask.savedDetails.empProcessAreas"></app-process>
    
    <app-remarks *ngIf=rem [remarks]="empCertTask.savedDetails.remarks"></app-remarks>
    
   
    
    <app-documents *ngIf=addi [additionalDocuments]="empCertTask.savedDetails.additionalDocuments "></app-documents>
    <app-preview *ngIf=popup></app-preview>
    <!--



*************************************************************************************************************
*************************************************************************************************************
********************* THE BELOW INPUT WITH NAME PREVIEW IS USED TO NAVIGATE TO THE NEXT PAGE ****************
*************************************************************************************************************
*************************************************************************************************************
   --> 

    <input name="preview" (click)="popup = true"  class="btn btn-info" style="margin-left: 35%;margin-bottom: 10%;padding-left: 3%;padding-right: 3%;" type="button" *ngIf=visibility value="Preview">
    <input class="btn btn-warning" style="margin-left: 5%;margin-bottom: 10%;padding-left: 3%;padding-right: 3%;" type="button" *ngIf=visibility (click)="myFunction()" value="Cancel">
  </section>



