<div>
  <form (ngSubmit)="submitProcessForm(processForm)" method="post" #processForm="ngForm"  id="myform" enctype="multipart/form-data">
  <!-- <table id="customers" > 
     <tr>
      <th>File Name</th>
      <th>Description</th>
       <th>Status</th>
      <th>Action(s)</th> 
    </tr> -->
    <tr>

    
    <!-- <tr *ngFor="let doc of additionalDocuments">
      <td>{{doc.id}}</td>
      <td>{{doc.description}}</td>
      <td *ngIf="doc.status">{{doc.status}}</td>
      <td >
        <i *ngIf="doc.status === 'uploaded'">Delete</i>
      </td>
    </tr> -->
  
       <td>
        <input type="file" name="file" (change)="submit($event.target.files)" ngModel><br>
        <br>
        <div style="border: 2px solid red;"><p >Supported File types: <strong>"pdf,"doc","docx","txt","xls","xlsx","jpeg","png","pdf"</strong></p>
        <p> File size less than <strong>20 MB </strong></p></div>
      </td>
      
      <td>
        <label for="text">Add description </label>
        &nbsp;
        <textarea name="description" id="text" cols="20" rows="3" value="description" ngModel></textarea>
      </td>
      <br>
      
      <td>
        <input type="number" name="employeeCertificationTaskSavedDetailId" value="58" hidden>
      </td>
      <td>
        <input type="text" name="employeeId" value="1100111" hidden>
      </td>
    </tr>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <input class="btn btn-success" type="submit" style="margin-left: 45%; margin-top:5%; margin-bottom: 3%;padding-left: 2%;padding-right: 2%;" value="save" >
  <!-- </table> -->
  </form>


  <table id="customers" >
    <tr>
      <th>File Name</th>
      <th>Description</th>
      <!-- <th>Status</th>
      <th>Action(s)</th> -->
    </tr>
    

    
    <tr *ngFor="let doc of additionalDocuments">
      <td>{{doc.id}}</td>
      <td>{{doc.description}}</td>
      <td *ngIf="doc.status">{{doc.status}}</td>
      <td >
        <i *ngIf="doc.status === 'uploaded'">Delete</i>
      </td>
    </tr></table>
</div>