
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }
  #header{
    margin-top: -9px;
    margin-bottom: 0px;
    margin-left: -20px;
  }
  #complianceperiod{
    text-align: center;
    font-weight: normal;
  }
  #date{
    text-align: right;
    font-weight: normal;
  }
  #liststyle{
    margin-top: 8px;
  }
   
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
    z-index:5;
    overflow: scroll;
  }
  
  
  .popup {
    margin: 70px auto;
    padding: 25px 40px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index:10;
  }
  
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 9px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 100%;
    }
  }
  #certificatetitle{
    margin-bottom: 10px;
    text-align: center;
  }

  .reporter{
    padding-bottom: 20px;
  }
  
  .certifier{
    padding-bottom: 20px;
  }
 .buttonstyle{
   padding:15px;
 }

 h4{
  margin-top: 10px;
  margin-bottom: 0px;
 }

 #edit{
   text-align: right;
 }
#icon{
  padding: 0px 5px;
}
