<!-- <button type="button"(click)="popup = true">
  PREVIEW
 </button> -->
  
 <div class="overlay" *ngIf=popup>
     <div class="popup">
<h4 id="header">Certificate Preview</h4>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
<hr> 
<div *ngIf="Response" id="contentToConvert">
 
<h3 id="certificatetitle">QUARTERLY BUSINESS COMPLIANCE CERTIFICATE</h3> 
<h4 id="complianceperiod">Compliance Period : {{Response.empCertTask.certTask.startDate}} to {{Response.empCertTask.certTask.endDate}} </h4>
<h4 id="date">Date : {{today | date:'longDate'}}</h4>


<div class="reporter">
  To,<br>
  {{Response.reporter.nameOfReporter}}<br>
  Business Unit : {{Response.reporter.parentBusinessUnitName}}
  
</div>

<div class="certifier">
  Certifier Name : {{Response.certifier.employeeName}} <br>
  Business Unit : {{Response.certifier.businessUnitName}}
</div>

<div>
  <b>Compliance Responsibility Area: </b>
  <ul id="liststyle">
  <li>Company : {{Response.certifier.employeeCompany}} </li>
  <li>Geography : {{Response.certifier.employeeGeography}} </li>
  <li>Function(s) : {{Response.certifier.employeeFunction}}</li>
 </ul>
</div>

<table id="users" >
  <caption><b>Process(s)</b> <a href="#" (click)="popup=false" id="edit">Edit</a></caption>
  <th>Process Area</th>
  <th>Process(s)</th>
  <th>Compliance</th>
  <th>Risk Severity</th>
  <th>Remarks</th>

  <tr *ngFor="let processarea of Response.empCertTask.savedDetails.empProcessAreas">
      <td >
          {{processarea.processArea.name}}
      </td>
  <td> 
      <tr *ngFor="let process of processarea.empProcesses">
          {{process.process.name}}
      </tr>
  </td> 
  <td>
    <tr *ngFor="let process of processarea.empProcesses">
      {{process.isCompliant}}
    </tr>
  </td> 
  <td>
    <tr *ngFor="let process of processarea.empProcesses">
      {{process.severity}}
    </tr>
  </td> 
  <td>
    <tr *ngFor="let process of processarea.empProcesses">
      {{process.remarks}}
    </tr>
  </td>
  </tr>

</table>

<table id="users" >
  <caption><b>Remarks</b><a href="#" (click)="popup=false" id="edit">Edit</a></caption>
  <th>S.No</th>
  <th>Asset Name</th>
  <th>Compliance</th>
  <th>Remarks</th>
  
  <tr *ngFor="let remark of Response.empCertTask.savedDetails.remarks">
    <td>1</td>
      <td >
          {{remark.empAssetDetailsId}}
      </td>
  <td>
    {{remark.isCompliant}}
  </td>
  <td>
      {{remark.remarks}}
  </td>
  </tr>
</table>

<table id="users" >
  <caption><b>Additional Documents</b><a href="#"  (click)="popup=false" id="edit" >Edit</a></caption>
  <th>Document(s) </th>
  <th>Description</th>
  
  <tr *ngFor="let ad of Response.empCertTask.savedDetails.additionalDocuments">
      <td >
          {{ad.fileName}}
      </td>
      <td>
        {{ad.description}}
      </td>
  </tr>
</table>

<div>
<p>
  I hereby affirm compliance with all processes pertaining to the compliance responsibility area and compliance period given above, by
  relying on the compliance certifcates submitted to me by the respective SP Heads across all the geographies they operate in.
  </p>
  {{Response.certifier.employeeName}} <br>
  {{ Response.certifier.role}} 
</div>
</div>
<br>
Signature:
  <app-digital></app-digital>

<div >
 <a href="#" (click)="convetToPDF()" id="pdflink" > <i class="fas fa-file-pdf" id="icon" ></i>Certifcate to Board_John Smith_111111_dated 30 Dec 2020</a>
</div>
  <div class="buttonstyle">
    <button>Save as Draft</button> &nbsp;  &nbsp; &nbsp;
    <button (click)="onSubmit()" >Submit</button>
      <!-- <form (ngSubmit)="submitProcessForm()" method="post" #processForm="ngForm"  id="myform" enctype="multipart/form-data"> -->
        <!-- <input type="number" name="certificateTaskId" value="64" hidden> -->
        <!-- <input type="text" name="empId" value="1100111" hidden>     -->
        <!-- <input type="file" name="certificate" (change)="submit()" ngModel>         --> 
        <!-- <input type="submit" value="Submit" > -->
      <!-- </form> -->
  
  </div>
  
    
    
  
</div>
</div>
</div>


