<div id="sign" [hidden]="hide"><canvas #sigPad width="300" height="150" (mousedown)="onMouseDown($event)"
(mousemove)="onMouseMove($event)"></canvas>
<br/>
<button (click)="clear()">clear</button> &nbsp;
<button  (click)="save()" (click)="toHide()">save</button>
<br/></div>
<img [src]="img" [hidden]="hideimage" >

